.body--light {
	.text-list-active {
		color: $list-active !important;
	}
	.bg-list-active {
		background: rgba(0, 0, 0, 0.04) !important;
	}
	.sticky-virtscroll-table {
		th {
			background: $white;
		}
	}
}
.body--dark {
	.text-list-active {
		color: $list-active !important;
	}
	.bg-list-active {
		background: hsla(0, 0%, 100%, 0.06) !important;
	}
	.sticky-virtscroll-table {
		th {
			background: $dark;
		}
	}
}
